body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.app__container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titles__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.person__container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person__container-action{
    border: 2px solid red;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    padding: 7px;
}

.person__container-action:div{
    border: 2px solid red;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    padding: 7px;
}

.person__container-action:hover {
    cursor: pointer;
    background-color: red;
    
}
.restart__data {
    margin:40px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    border-radius: 16px;
    padding: 13px;
    border: 2px solid red;
}

.restart__data:hover{
    cursor: pointer;
    color: red;
}

